<ion-content>
  <!-- Contenido principal de la página -->

  <app-header></app-header>
  <!-- Componente de cabecera personalizado (app-header) -->

  <ion-list>
    <!-- Lista que contiene las clases disponibles -->

    <!-- Clases de Matemáticas -->
    <ion-item>
      <!-- Elemento de lista para "Matemáticas 1" -->
      <ion-label>Matemáticas 1</ion-label>
      <!-- Etiqueta para el nombre de la clase -->
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón que lleva al usuario a la página de QR para pasar lista -->
      <!-- 'routerLink="/page/qr"' redirige a la página que se encargará de gestionar la lista -->
    </ion-item>

    <ion-item>
      <!-- Elemento de lista para "Matemáticas 2" -->
      <ion-label>Matemáticas 2</ion-label>
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón para pasar lista en la clase "Matemáticas 2" -->
    </ion-item>

    <ion-item>
      <!-- Elemento de lista para "Matemáticas 3" -->
      <ion-label>Matemáticas 3</ion-label>
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón para pasar lista en la clase "Matemáticas 3" -->
    </ion-item>

    <!-- Clases de Programación -->
    <ion-item>
      <!-- Elemento de lista para "Programación 1" -->
      <ion-label>Programación 1</ion-label>
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón para pasar lista en la clase "Programación 1" -->
    </ion-item>

    <ion-item>
      <!-- Elemento de lista para "Programación 2" -->
      <ion-label>Programación 2</ion-label>
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón para pasar lista en la clase "Programación 2" -->
    </ion-item>

    <ion-item>
      <!-- Elemento de lista para "Programación 3" -->
      <ion-label>Programación 3</ion-label>
      <ion-button fill="outline" routerLink="/page/qr">
        Pasar lista
      </ion-button>
      <!-- Botón para pasar lista en la clase "Programación 3" -->
    </ion-item>


  </ion-list>

  <app-footer></app-footer>
  <!-- Componente de pie de página personalizado (app-footer) -->
</ion-content>
